	.outer{
		width: 500px;
		color: dark brown;
		background-color: orange;
		border: 5px ridge brown;
		padding: 5px;
		}
	.center{
		text-align:center;
		text-shadow: 0.1em 0.1em 0.2em black;
		}
li{
	color: #FEF98A;
	background: #A19A0D;
	margin 10px 10px 10px 10px;
	padding: 3px 3px 3px 3px;
	list-style: circle 10px;
	}
li.border{
	border-style:dashed;
	border-width:thin;
	border-color:#FEFDBF;
	}
ul{
	width:600px;
	color: white;
	background: #4E4C00;
	margin:14px 14px 14px 14;
	padding: 10px 30px;
	border:10px solid orange;
	margin: 50px;
	}
	
	
a:link {color:#4E4C00;}      /* unvisited link */
a:visited {color:#4E4C00;}  /* visited link */
a:hover {color:#FEFCC4;}  /* mouse over link */
a:active {color:#FEFCC4;}  /* selected link */

